.container {
	font-family: "Regular";
	position: relative;
	margin-left: 40px;
	margin-right: 40px;
	padding-right: 0px;
	padding-left: 0px;
	width: 93%;
}

.error {
	color: red;
	padding: 3px;
}

#table {
	padding: 15px 5px 75px 5px;
	margin-bottom: 100px;
	background: #E0DFDD;
}
#dataTable {
	color: #414141;
	background-color: #ababab;
}

td {
	font-family: "Regular";
	font-size: 18px;
	color: #414141;
}

table.dataTable tr.odd {
	background-color: #e7e7e7;
}

table.dataTable tr.even {
	background-color: #d6d6d6;
}

#dataTable_previous, #dataTable_next{
	padding: 3px;
}

.form-group {
	margin: 3px;
}